body{
  padding-top: 2.2rem;
}

/* ----- Glass navbar style when scrolled ----- */

#navbar {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  margin-top: 5px;
}

#navbar.nav-scrolled {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(234, 42, 51, 0.1);
}

@media (min-width: 768px) {
  .small-screen-nav-bar-btn {
    display: none;
  }
}

/* ---------- Small Screen Nav Bar ---------- */

.small-screen-nav-bar-btn {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 22px 25px 10px 10px;
  padding: 10px;
  background: #4da3ff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10000000000;
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.small-screen-nav-bar-btn:hover,
.small-screen-nav-bar-btn:focus {
  box-shadow: 0 0.5em 0.8em -0.4em #000000;
  transform: translateY(-0.25em);
}

.small-screen-nav-bar-links-container {
  width: 210px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  z-index: 10000000;
  position: fixed;
  text-align: center;
  top: 0;
  right: -210px;
  transition: 0.5s;
}

.small-screen-nav-bar-links-container ul {
  padding-left: 10px;
}

.small-screen-nav-bar-links-container ul a {
  text-decoration: none;
}

.small-screen-nav-links {
  color: #000000;
  list-style: none;
  margin: 20px 10px;
}

@media (max-width: 767px) {
  .nav-bar-box {
    display: none;
  }

  .small-screen-nav-bar-btn {
    display: flex;
  }
}